body {
    padding: 160px 0 200px 0;
    background-image: url(2401.jpg);
    background-size: cover;
    margin: 0;
}

header {
    background-color: #003844;
    height: 75px;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke;
}

header h1 {
    font-size: 20px;
    margin-bottom: 0;
    padding-left: 20px;
}

header p {
    margin-top: 0;
    padding-left: 20px;
}

.top-wrapper {
    color: black;
    text-align: left;
    padding-bottom: 150px;
}

.container-wrapper{
    margin-left:70px;
}

.top-wrapper h1 {
    opacity: 0.8;
    font-size: 45px;
    margin-bottom: 10px;
}

.top-wrapper h2 {
    opacity: 0.8;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top-wrapper p {
    opacity: 1;
    margin-bottom: 3px;
}

.btn-wrapper {
    margin: 30px 0;
    font-style: unset;
}

.btn-wrapper p {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

.btn-offer {
    background-color: #003844;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.9;
    border-radius: 4px;
}

.btn-offer:hover {
    opacity: 1;
}

.mid-wrapper {
    height: 500px;
    padding-bottom: 90px;
    background-color: none;
    text-align: center;
    opacity: .85;
}

.mid-wrapper .container {
    background-color: #f7f7f7;
}

.heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
}
  
.heading h2 {
    font-weight: normal;
}
  
.lesson {
    float: left;
    width: 25%;
}
  
.lesson-icon {
    position: relative;
}
  
.lesson-icon img {
    height: 140px;
}
  
.lesson-icon p {
    position: absolute;
    top: 150px;
    width: 100%;
    color: black;
}
  
.txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 45px;
    font-size: 15px;
    color: #b3aeb5;
}

.flex-list {
    display: flex;
}

.flex-list .lesson {
    flex: auto;
}

footer {
    background-color: #003844;
    height: 200px;
    width: 100%;
    float: left;
    padding-top: 30px;
}
  
footer img {
    width: 200px;
}
  
footer p {
    color: #b3aeb5;
    font-size: 12px;
}
  
footer h3 {
    color: #003776;
}
  
footer .container .kolom-kiri {
    float: left;
    list-style: none;
}

footer .container .kolom-kanan {
    
    list-style: none;
}

.paling-bawah {
    text-align: center;
    padding-top: 150px;
}

.kolom-kanan {
    padding: 0px 30px 0px 30px;
}

.kolom-tengah h3 {
    color: white;
}

.kolom-kanan-kanan {
    padding: 0px 10px 0px 10px;
    float: right;
}

.kolom-kanan-kanan h3 {
    color: white;
}

.kolom-kanan-kiri {
    padding: 0px 10px 0px 10px;
    float: right;
}

.kolom-kanan-kiri h3 {
    color: white;
}

.kolom-kanan p a {
    color: palevioletred;
}

@media (max-width: 760px) {
    header {
        height: 100px;
    }

    .top-wrapper {
        padding: 70px 0 170px 0;
        background-size: 400px;
        text-align: center;       
    }

    .top-wrapper h1 {
        font-size: 45px;
        opacity: 0.9;
    }

    .top-wrapper h2 {
        font-size: 30px;
        opacity: 0.9;       
    }

    .container-wrapper{
        margin: auto;
    }

    .flex-list {
        flex-direction: column;
    }

    .flex-list .lesson {
        align-self: center
    }

    .flex-list .lesson img{
        width: 175px;
    }

    .mid-wrapper {
        background-color: none;
    }
    
    .mid-wrapper .container {
        height: 1550px;
        padding: 0px 5px 90px 5px;
        background-color: #f7f7f7;
        text-align: center;
        opacity: .85;
    }

    .txt-contents {
        color: black;
        opacity: .7;
    }

    .kolom-kiri img {
        width:100px;
    }

    footer {
        margin-top: 900px;
        height: 200px;
        width: 100%;
        float: left;
    }

    footer .container img {
        width: 100px;
    }

    footer .container .kolom-kanan {
        padding: 0px;
    }
    
    footer .container .kolom-kanan h3 {
        font-size: 15px;
    }

    footer .container .kolom-kanan p {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    .top-wrapper {
        padding: 50px 0 170px 0;
        background-size: cover;
        text-align: center;
    }

    .mid-wrapper {
        height: 700px;
        padding-bottom: 90px;
    }

    .flex-list {
        flex-wrap: wrap;
    }

    .flex-list .lesson {
        width: 50%;
    }

    .top-wrapper h1 {
        font-size: 45px;
        opacity: 0.9;
    }

    .top-wrapper h2 {
        font-size: 30px;
        opacity: 0.9;       
    }

    .container-wrapper{
        margin: 5%;
    }

    .top-wrapper p {
        opacity: 1;
        margin-top: 100px;
    }

    footer img {
        width: 200px;
    }
}
