.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://image.freepik.com/free-vector/forex-trading-background_23-2148594605.jpg);
  background-size: cover;
  color: white;
  text-align: left;
}

.container-wrapper{
  margin-left:70px;
}

.top-wrapper h1 {
  opacity: 0.8;
  font-size: 45px;
  margin-bottom: 10px;
}

.top-wrapper h2 {
    opacity: 0.8;
    font-size: 45px;
    margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 1;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 30px 0;
  font-style: unset;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn-offer {
  background-color: #661E0A;
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.9;
  border-radius: 4px;
}

.btn-offer:hover {
  opacity: 1;
}

@media (max-width: 760px) {
    .top-wrapper {
        padding: 70px 0 170px 0;
        background-size: 400px;
        color: white;
        text-align: center;       
    }

    .top-wrapper h1 {
        font-size: 45px;
        opacity: 0.9;
    }

    .top-wrapper h2 {
        font-size: 30px;
        opacity: 0.9;       
    }

    .container-wrapper{
        margin: auto;
    }
}

@media (max-width: 1000px) {
    .top-wrapper {
        padding: 100px 0 170px 0;
        background-size: cover;
        color: white;
        text-align: center;
    }

    .top-wrapper h1 {
        font-size: 45px;
        opacity: 0.9;
    }

    .top-wrapper h2 {
        font-size: 30px;
        opacity: 0.9;       
    }

    .container-wrapper{
        margin: 5%;
    }
}
